.header{
    margin-top:var(--navBackHeight);
    background-size: cover;
    background-image: url("../images/shapes.png");
    height:500px;
}
.header h1{
    font-size: 100px;
    color:white;    
}