{% extends "base.html" %}

{% block content %}
<div class = "textCard">
<p class = "typewriter"><span class = "themeOne">GingerEdition ~$ </span>Hi there! I'm <a href = "/davvav ">David</a>. And I guess this is my little website. Feel free to check out some of the projects I've done. Or just look for all the little easter eggs.</p>
<p>Here's a quick summary about me. I'm a computer enthusiast who focuses primarily on software, but I also will dabble in graphic design from time to time. Visit this <a href = "/about">page</a> if you'd like to learn more. And yes, I made this entire website from scratch using <a href = "https://getzola.org" target = "_blank">Zola</a>.</p>
 </div>
<div class = "card frogCard">
    <h3>Here's a picture of a frog as a welcome gift:</h3>
    <img src = "images/frog.jpg">
</div>
<div class = "gridRow">
    <div class = "gridColumn">
        <div  style = "height:500px; "><h3>David Goldfuss</h3></div>
    </div>
</div>
{% endblock content %}